<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
    {% load static %}
    <link rel="website icon" href="{% static 'myapp/images/kaonashi_favicon.png' %}">
    <title>Anime Recommender</title>
</head>

<body>
    <!-- <div class="" -->
    <form action="{% url 'process_form' %}" method="post">
        {% csrf_token %}
        <div class="input-group">
            <input class="input" required type="text" id="username" name="username">
            <label class="label" for="username">Username</label>
            <button class="button-36" role="button" type="submit">I'm Feeling Lucky</button>
        </div>
    </form>
</body>
</html>
